header
{

.header-Container
{
    .card-text
    {
        color: #bbbbbb;
        margin: 4em 0em;
        border-radius: 1em;
        background: linear-gradient(to bottom, #620d0082, #ed213a00);

        h1
        {    padding: 30px;}
    }
}



}