.container-section3
{

    .card-text
    {
        h1
        {
            color: #e4c1c1;
            font-weight: 900;
         
            padding: 1em 0em;
        }



        p
        {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 2;
    background: linear-gradient(to top, #ff8f8f0f, #560500);
    padding: 1em;
    border-radius: .5em .2em 0em 0em;
 
 

         a
        {color: #e4c1c1;
        font-weight: 900;
        }




        }
    }
}